
  <h2>Im the show page</h2>
  <strong>

    <p> Title: <%= @work.title %></p>
    <p> Created by: <%= @work.creator %></p>
    <p> Published: <%= @work.publication_year %></p>
    <p> <%= @work.description %></p>
  </strong>
