/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

a {
  color: #8183DB;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#subtitle{
  color: #FFFFFF;
}

header{
  background-color: #D6EAF8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.head_title{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.links ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.head_nav{
  color: #00a99a;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.login-info{
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.login-info > li{
  margin-right: 40px;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
  background-color: #00a99a;
  color: white;
}

ul {
  list-style: none;
}



button{
  border-radius: 3px;
  padding: 4px;
}
